:root {
    --clr-nav: #141824;
    --clr-border: #373e53;
    --clr-heading-mark: #6e7891;
    --clr-hover-color: #31374a;
    --clr-btn-text-logo: #9fa6bc;
    --clr-bgcolor: #0f111a;
    --clr-theme-bg: #131386;
    --clr-essential-btn: #1e2436;
}

/* header styling */

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--clr-nav);
    color: var(--clr-hover-p-color);
    width: 100%;
    z-index: 1;
    transition: 0.6s;
}

.header__navbar {
    height: 64.1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-border);
}

.header__navbar .nav__left {
    margin-left: 4vw;
    margin-right: 6vw;
    font-size: 1.7rem;
    font-family: monospace;
}

.header__navbar .nav__right {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

.nav__right .right__themeToggle {
    background: var(--clr-theme-bg);
    width: 2.3vw;
    height: 2.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: .7s;
}

.nav__right .right__themeToggle:hover {
    background: #3874ffb3;
}

.nav__right .right__themeToggle:hover span {
    color: white !important;
}

.nav__right .right__themeToggle span {
    font-size: 1.2rem !important;
    color: var(--clr-btn-text-logo);
    transition: .7s;
}

.nav__right .util-icons span {
    user-select: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--clr-btn-text-logo);
    transition: .5s;
}

.nav__right .util-icons:hover span {
    color: var(--clr-hover-p-color);
}

.nav__right .right__imageLogo span {
    font-size: 42px;
    cursor: pointer;
}

.nav__right .right__imageLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--clr-btn-text-logo);
}

.nav__right .right__imageLogo img {
    width: 100%;
    height: 100%;
}