body::-webkit-scrollbar {
    width: 0px;
}

.text-warning {
    color: white !important;
    text-shadow: 1px 1px 5px black !important;
}

nav .text-light:hover {
    text-decoration: underline !important;
    text-underline-offset: 2px;
}

/* pre-loader css */

.my_loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #011015;
    transition: 0.8s;
}

.my_loader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.my_ring {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 0px solid #011015;
    border-radius: 50%;
}

.my_ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(255, 0, 255);
    animation: rotate1 2s linear infinite;
}

.my_ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
}

.my_ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
}

.my_loading {
    color: white;
}


@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.feature-link {
    --bs-btn-bg: #7637b2 !important;
    --bs-btn-border-color: #391b56 !important;
    --bs-btn-hover-bg: #542680 !important;
    --bs-btn-hover-border-color: #361952 !important;
    --bs-btn-active-bg: #542680 !important;
    --bs-btn-active-border-color: #361952 !important;
    --bs-border-radius: 0.655rem !important;
}

#features .card {
    width: 20rem;
    height: 16rem;
    background-color: rgba(17, 17, 17, 0.85);
    box-shadow: 0 0 5px 1px #088aa4;
}

#intro {
    color: #ffffff !important;
    background-color: rgb(17 17 17 / 70%) !important;
    box-shadow: 0 0 7px 1px #00ff8d !important;
    border-radius: 25px !important;
    width: 87% !important;
}

#intro .card-title {
    position: relative;
    font-size: 2.5rem !important;
    text-shadow: 2px 3px 5px black !important;
    border-bottom: 2px solid cadetblue;
    width: 58%;
    margin: auto;
    padding-bottom: 3px;
}

#intro .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-body .my-animated-text::before {
content: '';
position: absolute;
}

#intro .card-body .card-text {
    font-size: 1.2em !important;
    /* background: rgba(53, 137, 160, 0.56) !important;
            border-radius: 0.8rem !important; */
    text-shadow: 2px 3px 5px black !important;
}

#intro .card-body svg {
    animation: arrowMove 1s ease-in 1s infinite;
}

#intro .card-body .link-light:hover {
    color: #00d9ff !important;
    text-decoration-color: currentcolor !important;
}

.card-body ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-body li::marker {
    content: "\2713";
    color: #00ffde;
    font-size: 1.2rem;
}

.card-body li span {
    padding-left: 10px;
}


@keyframes arrowMove {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(7px);
    }
}

.card-footer svg {
    animation: arrowMove 1s ease-in 1s infinite;
}

.card-footer .link-light:hover {
    color: #00d9ff !important;
    text-decoration-color: currentcolor !important;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 var(--bs-list-group-border-width);
    background: transparent !important;
}

@media (max-width: 1200px) {
    #intro .card-body .card-text {
        font-size: 1em !important;
    }

    #intro .card-title {
        text-shadow: 2px 3px 5px black !important;
        width: 70%;
    }
}

@media (max-width: 1025px) {
    #intro .card-body .card-text {
        font-size: 1em !important;
    }

    #intro .card-title {
        font-size: 2.2rem !important;
        width: 75%;
    }

    .mb-4 {
        margin-bottom: 1.2rem !important;
    }

}

@media (min-width: 426px) and (max-width: 769px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 5px;
        padding-left: 5px;
    }

    #intro {
        width: 98% !important;
    }

    #intro .card-body {
        padding: 3px;
    }

    #intro .card-body .card-text {
        font-size: 1em !important;
        line-height: 1.25;
    }

    #intro .card-title {
        font-size: 1.6rem !important;
        width: 98%;
    }

    .mb-4 {
        margin-bottom: 0.7rem !important;
    }

    .w-75 {
        width: 100% !important;
    }

    .container,
    .container-sm {
        max-width: 685px;
    }
}

@media (max-width: 1156px) {
    video {
        width: fit-content !important;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 769px) {}

@media (max-width: 426px) {
    #intro .card-body .card-text {
        font-size: 0.85em !important;
        line-height: 1.35;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 5px;
        padding-left: 5px;
    }

    #intro {
        width: 98% !important;
    }

    #intro .card-body {
        padding: 4px;
    }

    #intro .card-title {
        font-size: 1.65rem !important;
        width: 97.5%;
    }

    #intro p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    #features .card {
        width: 24rem;
    }

    .mb-4 {
        margin-bottom: 11px !important;
    }

    .w-75 {
        width: 100% !important;
    }

    .p-5 {
        padding: 10px !important;
    }
}

@media (max-width: 376px) {
    #intro .card-body .card-text {
        font-size: 0.75em !important;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 5px;
        padding-left: 5px;
    }

    #intro {
        width: 98% !important;
    }

    #intro .card-body {
        padding: 2px;
    }

    #intro p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    #intro .card-title {
        font-size: 1.4rem !important;
        width: 95%;
    }

    .mb-4 {
        margin-bottom: 0.8rem !important;
    }

    .w-75 {
        width: 100% !important;
    }

    .p-5 {
        padding: 10px !important;
    }

}

@media (max-width: 321px) {

    .navbar-brand {
        margin-left: 0.6rem;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {

        padding-right: 0px;
        padding-left: 0;
    }

    /* all property copied must check */

    #intro {
        width: 95% !important;
    }

    #intro .card-title {
        font-size: 1.2rem !important;
        width: 100%;
    }

    #intro .card-body {
        padding: 4px;
    }

    #intro .card-body .card-text {
        font-size: 0.7em !important;
    }

    .gap-3 {
        gap: 1rem !important;
    }

    .w-75 {
        width: 100% !important;
    }

    .mb-4 {
        margin-bottom: 0.6rem !important;
    }

    #features .card {
        margin: 0 5px;
        width: 100%;
        height: 17rem;
        background-color: rgba(17, 17, 17, 0.85);
        box-shadow: 0 0 5px 1px #088aa4;
    }

    .card-body ul {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .p-5 {
        padding: 5px !important;
    }

}