:root {
    --clr-input: #0f121f;
    --clr-message: #1e2436;
    --clr-sender-left: #00ff8c;
    /* add initial colors to it */
    --clr-sender-right: #ff6c00;
    /* add initial colors to it */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red; */
}

.container {
    transition: 0.6s;
}

.mainContainer {
    max-height: 100dvh;
    overflow: hidden;
}

.mainContainer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 10px 0px;
}

.logo {
    width: 70px;
    height: 60px;
    border-radius: 20px 30px;
    transform: rotate(-4deg);
}

.container {
    display: flex;
    min-height: 91vh;
    max-width: 100vw;
    background-color: var(--clr-bgcolor);
}

.container .right-main {
    /* background: rgb(86, 64, 64); */
    width: calc(100vw - 16.5vw);
    /* height: 100vh; */
}

.messageContainer {
    max-width: 90%;
    border: 2px solid var(--clr-border);
    margin: auto;
    height: 69vh;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 15px;
    border-radius: 15px;
}

.messageContainer .alert-text {
    width: 35%;
    margin: auto;
    padding: 4px 0px;
    border-radius: 15px;
    font-size: 1.1vw;
    color: var(--clr-sender-right);
    background: var(--clr-hover-color);
    text-align: center;
    user-select: none;
}

.messageContainer::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

.messageContainer::-webkit-scrollbar-thumb {
    background-color: var(--clr-border);
}

.messageContainer h3 {
    color: var(--clr-btn-text-logo);
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.message {
    background-color: var(--clr-message);
    width: 24vw;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: var(--clr-hover-p-color);
    font-family: sans-serif;
    transition: 0.6s;
}

.message .sender-name {
    margin-bottom: 3px;
}

.left span {
    margin-left: 5px;
    font-size: 1.03rem;
}

.right span {
    margin-left: 5px;
    font-size: 1.03rem;
    font-family: cursive;
}

.left {
    float: left;
    clear: both;
}

.left b {
    color: var(--clr-sender-left);
    font-size: 1.05rem;
    /* padding-left: 10px; */
    font-family: sans-serif;
    letter-spacing: 1px;
}

.right {
    float: right;
    clear: both;
}

.right b {
    /* padding-left: 10px; */
    color: var(--clr-sender-right);
    letter-spacing: 1px;
}

#sendcontainer {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#messageipt {
    width: 92%;
    border: 2px solid var(--clr-border);
    background-color: var(--clr-input);
    color: var(--clr-btn-text-logo);
    border-radius: 20px;
    height: 45px;
    font-size: 22px;
    padding-left: 22px;
    margin-right: 2rem;
    outline: none;
    transition: 0.6s;
}

#messageipt:hover {
    background-color: var(--clr-hover-color);
}

#messageipt:focus {
    border: 2px solid var(--clr-border);
}

.btn {
    cursor: pointer;
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    height: 43px;
    width: 54px;
    background-color: var(--clr-input);
    transition: 0.6s;
}

.btn:hover {
    background-color: var(--clr-hover-color);
}

.btn span {
    transform: rotate(330deg);
    font-size: 2rem;
    padding-left: 4px;
    color: var(--clr-btn-text-logo);
    transition: inherit;
}

.mainContainer h1 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--clr-btn-text-logo);
}