/* this is main css styling */
:root {
    --clr-nav: #141824;
    --clr-border: #373e53;
    --clr-heading-mark: #6e7891;
    --clr-hover-color: #31374a;
    --clr-btn-text-logo: #9fa6bc;
    --clr-bgcolor: #0f111a;
    --clr-hover-p-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    color: var(--clr-hover-p-color);
}

/* main container styling */
.container {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--clr-bgcolor);
    transition: 0.6s;
}

.right-main {
    width: calc(100vw - 16.5vw);
    transition: 0.4s;
}

.welcome-heading {
    /* background-color: red; */
    color: var(--clr-btn-text-logo);
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-heading .welcome-text {
    font-size: 3.2rem;
}

.welcome-heading .logout {
    text-decoration: none;
    color: var(--clr-btn-text-logo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.welcome-heading .logout:hover {
    color: white;
    background-color: #d43e3e;
}

.right-main .nofifications {
    /* background-color: red; */
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-btn-text-logo);
    font-size: 2rem;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
}

.right-main .nofifications form{
    position: absolute;
    transform: scale(0);
}

.nofifications .scanner-button {
    width: 90px;
    height: 95%;
    border-radius: 15px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--clr-btn-text-logo);
    transition: 0.3s ease-in;
}

.nofifications .scanner-button:hover {
    background: var(--clr-essential-btn);
    color: white;
}

.nofifications .scanner-button .material-symbols-outlined {
    font-size: 2.5rem;
}

.nofifications .scanner-button .scanner-text {
    font-size: 1.3rem;
}

.right-main .charts {
    height: 68vh;
    color: var(--clr-btn-text-logo);
    border-bottom: 1px solid var(--clr-border);
}

.charts .chart {
    display: flex;
    justify-content: center;
}

.charts .bar-chart-heading {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 0;
}

.canvasjs-chart-credit {
    display: none;
}