@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-nav: #141824;
    --clr-border: #373e53;
    --clr-heading-mark: #6e7891;
    --clr-hover-color: #31374a;
    --clr-btn-text-logo: #9fa6bc;
    --clr-bgcolor: #0f111a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    color: var(--clr-hover-p-color);
}

/* main container styling */
.container {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--clr-bgcolor);
    transition: 0.6s;
}

.right-main {
    width: calc(100vw - 16.5vw);
    transition: 0.4s;
}

.welcome-heading {
    /* background-color: red; */
    color: var(--clr-btn-text-logo);
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-heading .welcome-text {
    font-size: 3.2rem;
}

.welcome-heading .logout {
    text-decoration: none;
    color: var(--clr-btn-text-logo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.welcome-heading .logout:hover {
    color: white;
    background-color: #d43e3e;
}

.right-main .nofifications {
    /* background-color: red; */
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-btn-text-logo);
    font-size: 2rem;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
}

.right-main .essential_buttons {
    /* background-color: red; */
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-btn-text-logo);
    font-size: 2rem;
    border-bottom: 1px solid var(--clr-border);
}

.essential_buttons .essential-button {
    width: 90px;
    height: 95%;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--clr-btn-text-logo);
    transition: 0.3s ease-in;
}

.essential_buttons .essential-button:hover {
    background: var(--clr-essential-btn);
    color: white;
}

.essential_buttons .essential-button:active {
    transition: none;
    transform: scale(0.90);
}

.essential_buttons .essential-button .material-symbols-outlined {
    font-size: 2.5rem;
}

#sem_unlock {
    width: 120px;
}

.top-students {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--clr-border);
}

.top-students .heading-text {
    margin: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-btn-text-logo);
}

.top-students .students-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding-top: 5px;
}

.top-students .student {
    width: 16vw;
    height: 36vh;
    border-radius: 1.3rem;
    border: 2px solid var(--clr-border);
    box-shadow: 0 0 8px 1px var(--clr-essential-btn);
}

.top-students .student .profile-image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid var(--clr-border);
    border-radius: 50%;
    overflow: hidden;
}

.top-students .student .profile-image img {
    width: 100%;
    height: 100%;
}

.top-students .student .student-name {
    color: var(--clr-btn-text-logo);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.top-students .student .attendance-count {
    color: var(--clr-btn-text-logo);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.more-students-data {
    color: white;
    border-bottom: 1px solid var(--clr-border);
}

.more-students-data .more-data-heading {
    margin: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-btn-text-logo);
}

.more-students-data .dataTables_wrapper {
    color: var(--clr-hover-p-color);
    position: relative;
    clear: both;
    width: 90%;
    margin: auto;
    padding-bottom: 3vh;
    overflow-x: auto;
}

.more-students-data .dataTables_wrapper .dataTables_filter input {
    /* border: 1px solid white; */
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}

.more-students-data #action-td {
    display: flex;
    align-items: center;
}

.more-students-data #students_table .table-btn-edit,
#students_table .table-btn-delete {
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 8px;
    outline: none;
    border: 2px solid var(--clr-border);
    background: transparent;
    color: var(--clr-btn-text-logo);
    cursor: pointer;
    transition: 0.3s ease-in;
    overflow: hidden;
}

#students_table .table-btn-edit:hover,
#students_table .table-btn-delete:hover {
    color: var(--clr-hover-p-color);
    background: var(--clr-hover-color);
    box-shadow: 0 0 8px 0px var(--clr-border);
}

#students_table .table-btn-edit:active,
#students_table .table-btn-delete:active {
    transform: scale(0.8);
}

table.dataTable.no-footer {
    border-bottom: 1px solid var(--clr-border);
}

.edit-modal-container {
    position: fixed;
    width: 98.8vw;
    height: 100vh;
    background: #000000c2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
    transition: 0.6s;
}

.edit-modal-container .edit-modal-wrapper {
    width: 40%;
    height: 80%;
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transform: scale(0);
}

.edit-modal-container .edit-modal-wrapper::-webkit-scrollbar {
    width: 5px;
}

.modal-edit {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-edit h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
}

.modal-edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.modal-edit form label {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    ;
    margin-left: 1vw;
    margin-bottom: 7px;
}

.modal-edit .inputs {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    outline: none;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-submit,
#btn-close {
    margin: 10px 0px;
    width: 45%;
    height: 45px;
    background-color: #003e70;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}


#btn-submit:hover,
#btn-close:hover {
    background-color: #00325a;
}

.set-goal-section {
    border-bottom: 1px solid var(--clr-border);
}

.set-goal-text {
    margin: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-btn-text-logo);
}

.set-goal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.set-goal-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.set-goal-input input {
    width: 17vw;
    height: 8vh;
    border: 3px solid var(--clr-border);
    border-radius: 15px;
    color: var(--clr-btn-text-logo);
    outline: none;
    font-size: 1.3em;
    text-align: center;
    background: transparent;
}

.set-goal-input input::-webkit-outer-spin-button,
.set-goal-input input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.set-goal-input button {
    background: transparent;
    outline: none;
    border: 2px solid var(--clr-border);
    color: var(--clr-btn-text-logo);
    width: 4vw;
    height: 6vh;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.set-goal-input button:hover {
    background-color: var(--clr-hover-color);
    color: var(--clr-hover-p-color);
    box-shadow: 0 0 8px 0px var(--clr-border);
}

.set-goal-input button:active {
    transform: scale(0.95);
}

.set-goal-input span {
    font-size: 2rem;
}

#lock_attendance .search-result-container {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    color: var(--clr-hover-p-color);
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.search-input input {
    width: 17vw;
    height: 8vh;
    padding-inline: 5px;
    border: 3px solid var(--clr-border);
    border-radius: 15px;
    color: var(--clr-btn-text-logo);
    outline: none;
    font-size: 1.7em;
    text-align: center;
    background: transparent;
}

.search-input button {
    background: transparent;
    outline: none;
    border: 2px solid var(--clr-border);
    font-size: 1.2rem;
    color: var(--clr-btn-text-logo);
    width: 8vw;
    height: 6vh;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.search-input button:hover {
    background-color: var(--clr-hover-color);
    color: var(--clr-hover-p-color);
    box-shadow: 0 0 8px 0px var(--clr-border);
}

.search-input button:active {
    transform: scale(0.95);
}

#search_result_length,
#search_result_filter,
#search_result_paginate {
    display: none;
}

#lock-unlock {
    display: flex;
    align-items: center;
}

#lock-unlock .table-btn-lock,
#lock-unlock .table-btn-unlock {
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 8px;
    outline: none;
    border: 2px solid var(--clr-border);
    background: transparent;
    color: var(--clr-btn-text-logo);
    cursor: pointer;
    transition: 0.3s ease-in;
    overflow: hidden;
}

#lock-unlock .table-btn-lock:hover,
#lock-unlock .table-btn-unlock:hover {
    color: var(--clr-hover-p-color);
    background: var(--clr-hover-color);
    box-shadow: 0 0 8px 0px var(--clr-border);
}

#lock-unlock .table-btn-lock:active,
#lock-unlock .table-btn-unlock:active {
    transform: scale(0.8);
}